.title {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.7rem;

  a {
    color: #000;
    text-decoration: none;
  }
}

.navbar {
  font-size: 1.2em;
  text-align: center;
  color: #6c757d;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem;

  a {
    padding: 10px;
    text-decoration: none;
    color: #6c757d;
  }

  a:visited, a:active, a:focus {
    text-decoration: none;
    color: #6c757d;
  }

  a:hover {
    text-decoration: underline;
  }
}
